body {
    background-color: lightgray;
    color: aliceblue;
}

.box {
    background: blueviolet;
    height: 200px;
    width: 300px;
    margin: 20px;
}

.box2 {
    background: red;
    height: 100px;
    width: 600px;
    margin-left: 70px;
}

.box3 {
    background: rgb(199, 136, 136);
    height: 100px;
    width: 600px;
    padding: 70px;
}

.text1 {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

.text2 {
    color: azure;
    font-size: 24px;
    font-style: italic;
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}

.text3 {
    color: bisque;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}

.link {
    font-size: 20px;
}

.link:hover {
    color: yellow;
}

.link:active {
    color: green;
}

.link:visited {
    color: aqua;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.absolute {
    background: burlywood;
    position: absolute;
    left: 40px;
    padding: 10px;
}

.relative {
    background: thistle;
    position: relative;
    left: 40px;
    padding: 10px;
}

.static {
    background: sandybrown;
    position: static;
    left: 40px;
    padding: 10px;
}

.fixed {
    background: darkcyan;
    position: fixed;
    left: 40px;
    padding: 10px;
}