
/* Clients Section */
.clients-img {
    width: 50%;
    margin: 0 2px 0 2px;
}

/* About Us Section */
.btn-learn-more {
    outline: aqua 1px solid;
    border-radius: 15px;
}

/* Why Us Section */
.img-why-us {
    width: 75%;
}

/* Skills Section */
.skills .skills-progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
}

.skills .skills-progress .skill .val {
    float: right;
}

.skills .skills-progress .progress-bar {
    background-color: #eeb2bb;
}